img {
  position: relative;
  left: 660px;
  top: 10px;
}

button {
  position: relative;
  color: black;
  height: 70px;
  width: 120px;
  border-radius: 5px;
  left: 593px;
  top: 550px;
  background-color: lightGrey;
  animation: neon1 1.95s ease-in-out infinite alternate;
}

.over {
  position: absolute;
  width: 1480px;
  height: 860px;
  left: -10px;
  top: -20px;
  animation: fadein 3s;
}

.box1 {
  position: absolute;
  left: 100px;
  bottom: 100px;
  width: 20px;
  height: 20px;
  background-color: black;
  border: 3px solid grey;
}

.box2 {
  position: absolute;
  right: 130px;
  top: 100px;
  width: 20px;
  height: 20px;
  background-color: black;
  border: 3px solid grey;
}

.box3 {
  position: absolute;
  right: 80px;
  bottom: 70px;
  width: 20px;
  height: 20px;
  background-color: black;
  border: 3px solid grey;
}

.box4 {
  position: absolute;
  left: 80px;
  top: 100px;
  width: 20px;
  height: 20px;
  background-color: black;
  border: 3px solid grey;
}

.box5 {
  position: absolute;
  right: 310px;
  top: 400px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  border: 3px solid tomato;
}

.box6 {
  position: absolute;
  left: 280px;
  top: 400px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  border: 3px solid tomato;
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 100; }
}

@-webkit-keyframes neon1 {
  from {
    text-shadow:
      0 0 1px #fff,
      0 0 2px #fff,
      0 0 3px #fff,
      0 0 4px #fff,
      0 0 8px #fff,
      0 0 12px #484848,
      0 0 15px #484848,
      0 0 20px #484848;
  }

  to {
    text-shadow:
      0 0 0 #fff,
      0 0 1px #fff,
      0 0 2px #fff,
      0 0 3px #fff,
      0 0 40px #fff,
      0 0 5px #fff,
      0 0 6px #fff,
      0 0 7px #484848;
  }
}
