img {
  position: absolute;
  left: 0;
  top: 0;
}

button {
  position: relative;
  height: 70px;
  width: 120px;
  color: white;
  border-radius: 5px;
  left: 1200px;
  top: 650px;
}

.over {
  width: 1480px;
  height: 860px;
  transition: opacity 3s;
}

.box1 {
  position: absolute;
  left: 50px;
  bottom: 50px;
  width: 200px;
  height: 120px;
  border: 3px solid black;
}

.box2 {
  position: absolute;
  right: 80px;
  top: 50px;
  width: 120px;
  height: 200px;
  border: 3px solid black;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 100; }
}
