body {
  background-color: black;
}

img {
  position: relative;
}

button {
  position: relative;
  color: black;
  height: 70px;
  width: 120px;
  border-radius: 5px;
  left: 593px;
  top: 550px;
  background-color: lightGrey;
  animation: neon1 1.95s ease-in-out infinite alternate;
}

.car {
  left: 660px;
  top: 10px;
  filter: invert(100%);
}

.over {
  position: absolute;
  width: 1480px;
  height: 860px;
  left: -10px;
  top: -20px;
  animation: fadein 3s;
}

.box1 {
  position: absolute;
  left: 100px;
  bottom: 100px;
  width: 20px;
  height: 20px;
  background-color: black;
  border: 3px solid grey;
  animation: neon1 1.95s ease-in-out infinite alternate;
}

.box2 {
  position: absolute;
  right: 130px;
  top: 100px;
  width: 20px;
  height: 20px;
  background-color: black;
  border: 3px solid grey;
  animation: neon1 1.95s ease-in-out infinite alternate;
}

.box3 {
  position: absolute;
  right: 80px;
  bottom: 70px;
  width: 20px;
  height: 20px;
  background-color: black;
  border: 3px solid grey;
  animation: neon1 1.95s ease-in-out infinite alternate;
}

.box4 {
  position: absolute;
  left: 80px;
  top: 100px;
  width: 20px;
  height: 20px;
  background-color: black;
  border: 3px solid grey;
  animation: neon1 1.95s ease-in-out infinite alternate;
}

.box5 {
  position: absolute;
  right: 310px;
  top: 400px;
  width: 10px;
  height: 10px;
  background-color: red;
  border: 3px solid tomato;
  border-radius: 50%;
  animation: move 3s ease-in-out infinite alternate;
}

.box6 {
  position: absolute;
  left: 280px;
  top: 400px;
  width: 10px;
  height: 10px;
  background-color: red;
  border: 3px solid tomato;
  border-radius: 50%;
  animation: move2 1.95s ease-in-out infinite alternate;
}

.beat {
  position: relative;
  width: 1480px;
  height: 860px;
  top: -100px;
  left: -10px;
  margin: 0 auto;
  background-color: white;
  animation: fadein 3s;
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 100; }
}

@-webkit-keyframes neon1 {
  from {
    box-shadow:
      0 0 1px #fff,
      0 0 2px #fff,
      0 0 3px #fff,
      0 0 4px #fff,
      0 0 8px #fff,
      0 0 12px #484848,
      0 0 15px #484848,
      0 0 20px #484848;
  }

  to {
    box-shadow:
      0 0 0 #fff,
      0 0 1px #fff,
      0 0 2px #fff,
      0 0 3px #fff,
      0 0 40px #fff,
      0 0 5px #fff,
      0 0 6px #fff,
      0 0 7px #484848;
  }
}

@-webkit-keyframes neon2 {
  from {
    box-shadow:
      0 0 1px #fff,
      0 0 3px #fff,
      0 0 5px #fff,
      0 0 8px #fff,
      0 0 12px #fff,
      0 0 18px #ec7056,
      0 0 25px #ec7056,
      0 0 35px #ec7056;
  }

  to {
    box-shadow:
      0 0 0 #fff,
      0 0 1px #fff,
      0 0 2px #fff,
      0 0 3px #fff,
      0 0 40px #fff,
      0 0 5px #fff,
      0 0 6px #fff,
      0 0 7px #ec7056;
  }
}

@-webkit-keyframes move {
  0% { right: 0; }
  50% { right: 40%; }
  100% { right: 0; }
}

@-webkit-keyframes move2 {
  0% { top: 0; }
  50% { top: 80%; }
  100% { top: 0; }
}
